/venv
/__pycache__
/.env
/230103_randresize_full.pth
/urban_trees_Cambridge_20230630.pth
/250312_flexi.pth
/detectree2/tilespred/*
/detectree2/crowns_out.gpkg
/detectree2/crowns_out.png
/train_outputs